﻿* { font-family:Arial; }
body { margin:0; padding: 5px 10px; }
.lb { font-size:15px; color:#444; }
#ddlGrpName,#txtEmailQuery { font-size:16px;  }
#ddlGrpName { height:36px; }
#ddlGrpName option { background-color:green; color:#fff; padding:4px; }
.option-ad , .option-gg { display:inline-block; }
.option-ad { background-color:green; color:#fff;}
.option-gg { background-color:blue; color:#fff;}
#txtEmailQuery { width:350px; padding:5px;}
#btnSearch { width:100px;   }
#tb_Query td { padding:4px 10px; }

#div-emails { border-top: solid 2px #aaa; padding:10px; width:94%; margin:22px 3%; }
#div-emails .prefix {  float:left; display:inline-block;  background-color:#333;  margin-right:20px;
                        width:34px; height:34px; font-size:26px; font-weight:bold; color:#fff; text-align:center; line-height:34px;  }
#div-emails .emails-ct {width:100%; margin:0; border-top:dashed 1px #aaa; padding:6px; }
#div-emails .emails { margin:1px 0 0 65px ; border:dashed 0px #ccc; padding:0; }
#div-emails .emails .mail { margin:3px; width:220px; border-radius:5px; display:inline-block; border:solid 1px #aaa; 
                     font-size:16px; padding:2px 6px; background-color:#a6dbee; color:#333; word-break:break-all; white-space:nowrap; }

#query-info { border:solid 0px #ddd; width:100%; }
.TotalEmailCC { border: solid 0px #aaa; padding:4px; width:120px; color:#fff; text-align:right; text-align:center; border-radius:18px;
                 margin-top:-26px; margin-right:-25px;  background-color:#444; float:right; }

.sg-email-list { border: solid 1px #777; width:340px; position:absolute; top:-2000; left:-5000; padding:0px;  }
.sg-email-list li { display:inline-block; list-style-type:none; margin:0px; padding:8px; 
                width:100%; font-size:15px;  color:#444; background-color:#eee; cursor:pointer; }
.sg-email-list li:hover { background-color:#555; color:#fff;}

.grp { font-size:15px; color:#333; width:500px; }

.grp-ad, .grp-goog {  width:50%; float:left; padding:4px 10px; border:solid 1px #ccc;   }
.grp-ad { background-color:#a6dbee; }
.grp-goog { background-color:#eee; }
.tt { background-color:#333; color:#fff; }

#top-menu {
background: #DB4865;
color: #fff;
height: 1.8em;
font-size: 0.9em;
padding: 2px 2px 0px 6px;
background: url("images/ui-bg_diagonals-small_40_db4865_40x40.png") repeat scroll 50% 50% #DB4865;
}