﻿@{
    Layout = null;
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
    string ITSUrl=ConfigurationManager.AppSettings["ITS_Url"].ToString();
}
@model EmailGroup.ViewModels.QueryViewModel
@using System.Configuration;
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/ForITS.css")

<table id="tb_Query">
<tr><td>
<select id="ddlGrpName" class=select>
<option>我要查群組內有哪些EMail?</option><option>AD群組 | Gmail群組</option>
@foreach (var c in Model.EmailGroup_Mappings) { <option value="@c.GmailAddress"><span class="option-ad">@c.ADGroup</span> --- <span class="option-gg">@c.GmailGroup</span></option> }
</select></td></tr>

<tr><td><input type=text id='txtEmailQuery' value="@Model.QueridEmail" placeholder="請輸入Email，查隸屬那些群組?" maxlength=250 /> 
    <button id="btnSearch" class="btn btn-sm btn-primary active form-control" role="button" type="submit"><span class="glyphicon glyphicon-search searc"></span> Search</button>
    </td></tr>
</table>

<div id="div-emails">
<div id="query-info">
@if (Model.TotalEmailCC > 0){
<div class="TotalEmailCC">共 @Model.TotalEmailCC 個結果</div>
    foreach (var c in Model.Prefix){
    if (c != ""){
        <div class=emails-ct>
        <div class="prefix">@c.ToUpper()</div>
        <div class="emails">
            @foreach (var d in Model.EmailGroup_Emails.Where(x => x.GmailAddress.Substring(0, 1) == c)){<div class=mail>@d.GmailAddress</div>}
        </div>
        </div>
    }
}
}

@if (Model.TotalGroupCC > 0) { 
    <div class="TotalEmailCC">共有 @Model.TotalGroupCC 個結果</div>
    <div class=grp>
        <div class="grp-ad tt">AD群組</div><div class="grp-goog tt">GMAIL群組</div>
        @foreach (var c in Model.v_EmailGroups) { 
            <div class="grp-ad">@c.ADGroup </div><div class="grp-goog">@c.GmailGroup </div>
        }
    </div>
}
</div>
</div>


<ul class="sg-email-list"></ul>

@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
    var qemail = "";
    $(function () {
        $("#ddlGrpName").val("@Model.SelectedGroupEmail");
        $("#div-emails .emails").width(fn_ResizeEmailsWidth());
        fn_SuggestEmail();
    });

    $("#ddlGrpName").change(function () {
        location.href = "@host/Query/ForITS/?GroupEmail=" + $(this).val();
    });

    function fn_ResizeEmailsWidth(){
        var w = $("#query-info").width()-10;
        var ew = 160 + 3 + 3 + 3; //width+border+padding
        var icc = parseInt(w / ew);
        var w2 = icc * ew;
        //console.log(w,ew,icc,w2);
        return w2;
    }

    $(window).resize(function () {
        $("#div-emails .emails").width(fn_ResizeEmailsWidth());
    });

    function fn_SuggestEmail() {
        $("#txtEmailQuery").keyup(function () {
            var me = $(this);
            var v = me.val();
            if (v.length >= 2) {
                $.post("@host/Query/SuggestEmail", { sg: v }, function (rs) {
                    var _h = me.height();
                    var _top = me.offset().top + _h + 16;
                    var _left = me.offset().left;
                    var ss = "";
                    $.each(rs, function (i, n) {
                        ss += "<li class=lli>" + n.email + "</li>"
                    });
                    $(".sg-email-list").html(ss).css({ top: _top, left: _left });

                    $(".sg-email-list li").on("click", function () {
                        qemail = $(this).html();
                        $("#txtEmailQuery").val(qemail);
                        fnResetSGMailPanel();
                    });
                });
            } else {
                fnResetSGMailPanel();
            }
        });
    }

    $("#btnSearch").click(function () {
        location.href = "@host/Query/FindGroup/?email=" + qemail+"&returnUrl=ForITS";
    });

    function fnResetSGMailPanel(){
        $(".sg-email-list").css({ top: -2000, left: -200 }).html("");
    }

</script>