﻿@{
    ViewBag.Title = "Tree";
    Layout = null;
    string host = System.Configuration.ConfigurationManager.AppSettings["WebHostUrl"].ToString();
}
<link href="../../Content/bootstrap-theme.css" rel="stylesheet" type="text/css" />
<head>
@Styles.Render("~/Content/bootstrap")
@Styles.Render("~/Content/Tree.css")
</head>
<body>


<div ng-app="email_app" class="app">

<div ng-controller="EmailTreeCtrl" id="emailTree-div">
<div id="btns" >

<h3 style=" display:inline; margin-right:50px; ">Email明細維護作業</h3>
<button ng-click="CreatEmailNode()"><span class="glyphicon glyphicon-plus float-left"></span> Add</button>
<button ng-click="ReviewLog()"><span class="glyphicon glyphicon glyphicon-th-list float-left"></span> Review Log</button>
@*<button ng-click="CheckEmailNode(EmailGGAD)"><span class="glyphicon glyphicon-plus"></span> Check Node</button>*@
</div>
<!--test view support promise pattern-->
@*{{(emails[0]|json)||'loading'}}*@

    <ul id="emailTree">
        <li ng-repeat="email in emails" class="lv{{email.lv}} node {{email.myClass}} VV{{email.isVisible}}" ng-click="ShowDetails(email.sn, email.c)" title="{{email.pp}}" ng-hide="{{email.isHide}}"><b class='lab_ad'>{{email.AD}}</b><b class='lab_gg'>{{email.GG}}</b>{{email.c}} @*<span class="glyphicon glyphicon-pencil" ></span>*@<span class="glyphicon glyphicon-download" ng-click="HideShow(email)"></span><span class="glyphicon glyphicon-ban-circle" ng-hide="email.isVisible"></span></li>
    </ul>
    <div class="EmailDetail">
      <table>
        <tr><td class="AD">Outlook</td><td><input class="" ng-model="EmailGGAD.ADGroup" /></td></tr>
        <tr><td>Gmail Group</td><td><input class="" ng-model="EmailGGAD.GmailGroup" /></td></tr>
        <tr><td>父節點</td><td><select ng-model="EmailDetail.pp" ng-options="email.c as ' ('+email.lv+') '+email.c for email in emails" ></select></td></tr>
        <tr><td>Email</td><td><input class="txt" ng-model="EmailDetail.c" /></td></tr>
        <tr><td>顯示/隱藏? {{EmailDetail.isVisible}}</td><td>
            <label class="lb"><input type="radio" ng-model="EmailDetail.isVisible" value="Y" />顯示</label>
            <label class="lb"><input type="radio" ng-model="EmailDetail.isVisible" value="N" />隱藏</label></td></tr>
        <tr><td></td><td>
        <input class="btn" id="btn_save" value="SAVE" ng-click="SaveEmail(EmailDetail, EmailGGAD)" />
        <input class="btn" id="btn_delete" value="Delete" ng-click="DeleteEmail(EmailDetail)" /></td></tr>
      </table>
      <hr>
      <div class="Log">
          <div class="log-title">只列出最新100筆Log資料。</div>
          <table>
          <thead>
            <tr>
                <td class="log-act">動作</td>
                <td class="log-grp">群組Outlook<br />群組Gmail</td>
                <td class="log-pp">父節點<br />子節點</td>
                <td class="log-isv">可見?</td>
                <td class="log-updater">異動者<br />建立日期</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="log in logs">
                <td class="log-act">{{log.ActionName}}<br >Old SN:{{log.OriginSN}}</td>
                <td class="log-grp">{{log.AD}}<br />{{log.GG}}</td>
                <td class="log-pp">{{log.PP}}<br />{{log.C}}</td>
                <td class="log-isv">{{log.IsVisible}}</td>
                <td class="log-updater">{{log.UpdateUser}}<br />{{log.InsertDate}}</td>
            </tr>
            </tbody>
          </table>
      </div>
    </div>

</div>


</div>

<!--- JS part -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.10/angular.min.js"></script>
<script type="text/javascript" src="https://code.angularjs.org/1.3.0-beta.10/angular-resource.min.js"></script>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/app/app.js")
@Scripts.Render("~/app/controllers.js")
@Scripts.Render("~/app/services.js")
<script type="text/javascript">
var host="@host";
</script>

<script type="text/javascript">    document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>


</body>